.arena{
    height: 300px;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: #fff;
}

.arena {
  display: flex;
  height: 300px;
  background-image: url('./fondo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  height: 180px;
  position: flex;
}

#poke1 {
    position: absolute;
    top: 215px;
    left: 70px;
}

#poke2 {
    top: 120px;
    left: 295px;
    position: absolute;
}

button {
  background-color: rgba(19, 192, 155, 0.738);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 80px;
  border: none;
  background-color: #ffffff24;
  color: #fff;
}

#btnAtacar {
  background-color: #ff0000;
  margin: 15px 0 0 65px;
}